body {
  position: relative;
  background: #fff;
  font-family: "Montserrat", sans-serif;
  margin: auto 0;
}

header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding-top: 5px;
}

.content-layout {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.navigation,
.sub-menu {
  display: flex;
  flex-direction: column;
}

.navigation__top {
  display: flex;
  justify-content: space-between;
}

.nav-list-top {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.nav-list-top li {
  padding: 5px;
  cursor: pointer;
  margin-right: 10px;
  transition: all ease 0.3s;
}
.nav-list-top li:hover {
  transform: scale(1.5);
}
.nav-list-top li:last-child {
  margin: 0;
}

.navigation__bottom {
  border-top: 1px #f98826 solid;
  padding: 20px;
}

.menu {
  display: flex;
}

.menu__item {
  position: relative;
  flex-grow: 1;
  text-align: center;
}

.menu__item a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease;
  font-weight: 700;
}
.menu__item a:hover {
  color: #f98826;
}

.menu__item:hover > .sub-menu {
  max-height: 600px;
}

.sub-menu {
  display: block;
  position: absolute;
  left: 50%;
  top: 100%;
  overflow: hidden;
  max-height: 0;
  transition: all 1s ease;
}
.sub-menu:hover {
  overflow: visible;
}
.sub-menu li {
  padding: 5px;
}

.hero {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  margin-bottom: 30px;
}

.hero__description {
  width: 50%;
  margin-right: 20px;
}
.hero__description .hero__description__title {
  font-family: "Raleway", sans-serif;
  color: #f98826;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.hero__description .hero__description__text {
  font-size: 25px;
  line-height: 30px;
  color: #333;
}

.hero svg {
  width: 50%;
}

svg .ligth {
  animation: opacity-pulse 3s ease 0s infinite;
}

svg .flame {
  animation: opacity-pulse 2s ease 0s infinite;
}

@keyframes opacity-pulse {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.3;
  }
}
.service-title,
.service-item,
.title {
  text-align: center;
}

.service-title,
.title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
  text-transform: uppercase;
  margin: 0 0 164px 0;
  color: #f98826;
}

.service-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 150px;
}

.service-item {
  max-width: 330px;
  border: 3px solid #f98826;
  border-radius: 10px;
  padding: 60px 25px 62px;
  margin: 0 20px 0 0;
  box-sizing: border-box;
}
.service-item:last-child {
  margin: 0;
}

.service-item__title {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
  color: #94535d;
  margin: 0 0 27px 0;
}

.service-item__description {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.03em;
  color: #828282;
  margin: 0 0 77px 0;
}

.button {
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-transform: uppercase;
  width: 100%;
  max-width: 267px;
  height: 74px;
  cursor: pointer;
  box-sizing: border-box;
  transition: all 0.3s ease;
  background: #f98826;
  color: #fff;
  border: none;
  border-radius: 10px;
}
.button:hover {
  color: #000;
  background: #94535d;
}

.tech-stack .title {
  color: #94535d;
}

.tech-stack__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 150px;
}

/*# sourceMappingURL=style.css.map */
